<div class="howtoModal">
  <h1>Removing Users from Groups</h1>
  If you remove a user from a group during a demo session, there is NO need to add the users back into the group. A
  Workflow runs every night to add the users back into the groups.
  <ol>

    <h2>
      <li>Open the Org Admin console</li>
    </h2>
    <ul>
      <li class="lblBullet">Go to <a
          href="https://mortpanda.github.io/jpn-corp-ae-app-launcher/">https://mortpanda.github.io/jpn-corp-ae-app-launcher/</a>
      </li>
      <img src="assets/screenshots/howto_1.png" class="screenshots">
      <br />
    </ul>
    <br />

    <h2>
      <li>In the Admin console go to "Groups"</li>
    </h2>
    <ul>
      <li class="lblBullet">
        From the navigation menu go to "Directory" then "Groups"
      </li>
      <img src="assets/screenshots/howto_2.png" class="screenshots">
      <br />
    </ul>
    <br />

    <h2>
      <li>Group to remove the users from</li>
    </h2>
    <ul>
      <li class="lblBullet">The applications displayed in the Portal App is to be controlled using 3 x Okta groups
        assigned to the application.</li>
      <img src="assets/screenshots/howto_3.png" class="screenshots">
      <br />

      <li class="lblBullet">Click on "Assign People" button.</li>
      <img src="assets/screenshots/howto_4.png" class="screenshots">

      <li class="lblBullet">Select the "-" next to the user to remove.</li>
      <img src="assets/screenshots/howto_5.png" class="screenshots">
    </ul>
  </ol>

</div>