<style>
    .section-dark {
        background-color: #6E6E78;
    }

    body {
        color: white;
        background-color: #6E6E78;
        font-size: 14px;
        font-weight: 300;
        font-family: "Montserrat", "Helvetica", Arial, sans-serif;
    }
</style>

<div class="section section-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Okta は、インターネット向けにアイディアを強化します</h2>
                <p class="description">
                    Oktaは、全世界の企業から信頼されるパートナーとして、お客様が最大限の可能性を発揮するために必要な自信を提供します。誰もが、あらゆるテクノロジーを安全に使用できなければなりません。Oktaは、シンプルで安全なアクセスを全世界の人と組織に提供します。
                    Oktaは、お客様の従業員やユーザーのアイデンティティを保護するだけではありません。「さらに何を実現できるか」を模索し続けています。
                </p>
            </div>
        </div>
    </div>
</div>