<div class="wrapper">

    <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/okta-blue.jpg');">
        
        
        
            <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <div class="filter"></div>
        
        
        <div class="fxcontainer" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="15px">
        
            <div class="logo logo_item"><img src="assets/img/Logo_Okta_Japan_White.png" ></div> 
            
            <div class="item item1 site_title">
                <h2>ニュースアプリ</h2>
                <a class="site_content">OpenID Connectで連携しているアプリです。APIでニュース、現在地と天気を同時に表示します。
                    <br>
                    <a class="site_uri" href="https://mortpanda.github.io/klab-ciam-portal-news/"
                        target=_blank>https://mortpanda.github.io/klab-ciam-portal-news/</a>
                </a>
            </div>
            <!-- <div class="item item1 site_title">
                <h2>メンバー用掲示板</h2>
                <a class="site_content">Wordpressをベースにしたメンバー専用掲示板です。掲示板のコンテンツを参照するには、
                    PORTALにログインし、掲示板のURLに行くと、OIDCで自動的にログインし、サンプルトピックが見れます。
                    <br><br>
                    <a href="https://angular-ciam-demo-wpbb.csm-apac-1.duckdns.org/"
                        target=_blank>https://angular-ciam-demo-wpbb.csm-apac-1.duckdns.org/</a>
                </a>
            </div>
            <div class="item item1 site_title">
                <h2>オンライントレーニング</h2>
                <a class="site_content">Moodleをベースにしたオンライントレーニングサイトです。PORTALにログインして必要があります。
                    PORTALにログインし、MoodleのURLに行くと、OIDCでログイン可能です。
                    <br><br>
                    <a href="https://angular-ciam-demo-moodle.csm-apac-1.duckdns.org/"
                        target=_blank>https://angular-ciam-demo-moodle.csm-apac-1.duckdns.org/</a>
                </a>
            </div> -->
            <div class="item item1 site_title">
                <h2>Oktaプロファイル</h2>
                <a class="site_content">PORTALにログインしている状態で、Oktaプロファイル参照サイトに行きますと、
                    Okta上のプロファイル情報を参照出来ます。
                    <br><br><br>
                    <a href="https://mortpanda.github.io/klab-ciam-portal-profile/home"
                        target=_blank>https://mortpanda.github.io/klab-ciam-portal-profile/home</a>
                </a>
            </div>

            <div class="item item1 site_title ">
                <h2>DENTAKU</h2>
                <a class="site_content">サンプル電卓アプリになります。電卓を使用するにはログインする必要がありますが、PORTALでログイン済みの場合は、自動的にDENTAKUサイトにログインします。
                    <br><br><br>
                    <a href="https://mortpanda.github.io/klab-ciam-portal-calc/"
                        target=_blank>https://mortpanda.github.io/klab-ciam-portal-calc/</a>
                </a>
            </div>
        </div>
        
    </div>
</div>
<app-whoisokta></app-whoisokta>
<app-footer></app-footer>