<div class="wrapper">
    <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/lilac_back.png');">
        <!-- <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/2-back_image.jpg');"> -->
        <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->
        <!-- <div class="filter"></div> -->
        <app-portal></app-portal>
    </div>
    <!-- <app-whoisokta></app-whoisokta>
    <app-footer></app-footer> -->